# Random Forest Assignment

In [87]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import datasets
%matplotlib inline

In [88]:
# load data
dataset = pd.read_csv('Iris.csv')

## 1) Data exploration

In [89]:
dataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [90]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [91]:
dataset.describe(include=['object', 'bool'])

            Species
count           150
unique            3
top     Iris-setosa
freq             50

## 2) Data preprocessing

Determine features and labels

In [92]:
feature_columns = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm','PetalWidthCm']
X = dataset[feature_columns].values
y = dataset['Species'].values

### Encoding (Label Encoding)

``Species`` (label) are categorical variables. Thus we need to convert Species into numbers before feeding them into KNeighborsClassifier, which does not accept string labels

- Iris-setosa correspond to 0
- Iris-versicolor correspond to 1 
- Iris-virginica correspond to 2

In [93]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

### Spliting dataset into training set and test set

- training set: to build classifier
- test set: to evaluate the classifier

In [94]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [95]:
X_train.shape

(120, 4)

In [96]:
y_train.shape

(120,)

In [97]:
X_test.shape

(30, 4)

In [98]:
y_test.shape

(30,)

## 3) Random Forest

In [99]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators = 100)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

In [100]:
from sklearn import metrics
print("Accuracy:", round(metrics.accuracy_score(y_test, y_pred)*100,2), "%")

Accuracy: 100.0 %

In [101]:
y_pred = rf.predict(X_test)
y_pred

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 0, 1, 1, 0])